:root {
    --height-menu: 50px;
    --font-size-icon: 20px;
    --escalado-icono-grande: 1.5;
    --escalado-icono-pequeño: 0.8;
    --translateY: calc(-100vh + var(--height-menu));
    --fondo-uno: transparent;
    --fondo-dos: green;
    --fondo-tres: blue;
    --fondo-cuatro: brown;
}
body {
    margin: 0;
}
.page {
    width: 100%;
    height: calc(100vh - var(--height-menu));
    margin: 0;
    padding: 0;
    transition: all .4s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -webkit-transition: all .4s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -moz-transition: all .4s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -o-transition: all .4s cubic-bezier(0.54, 0.35, 0.29, 0.99);  
    overflow: hidden; 
    position: absolute;
    z-index: -1;
}
#p1 {
    top: var(--height-menu);
}
#p2, #p3, #p4 {
    top: 100vh;
}
#p1 { background: transparent; }
#p2 { background: var(--fondo-dos); }
#p3 { background: var(--fondo-tres); }
#p4 { background: var(--fondo-cuatro); }
#t2:target #p2,
#t3:target #p3,
#t4:target #p4 {
    transform: translateY(var(--translateY));
    -webkit-transform: translateY(var(--translateY));
    -moz-transform: translateY(var(--translateY));
    -o-transform: translateY(var(--translateY));
    transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    transition-delay: .2s !important;
}
.icon {
    color: var(--letra-media);
    font-size: var(--font-size-icon);
}
ul .icon:hover {
    text-shadow: var(--borde-letra-blanco);
}
#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon {
    transform: scale(1);
    -webkit-transform: scale(var(--escalado-icono-pequeño));
    -moz-transform: scale(var(--escalado-icono-pequeño));
    -o-transform: scale(var(--escalado-icono-pequeño));
    transition-delay: .25s;
}
#t1:target #uno,
#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro {
    transform: scale(var(--escalado-icono-grande)) !important;
    -webkit-transform: scale(var(--escalado-icono-grande)) !important;
    -moz-transform: scale(var(--escalado-icono-grande)) !important;
    -o-transform: scale(var(--escalado-icono-grande)) !important;
    text-shadow: var(--borde-letra-blanco);
}
#t1:target #uno {
    color: black;
}
#t2:target #dos {
    color: var(--fondo-dos);
}
#t3:target #tres {
    color: var(--fondo-tres);
}
#t4:target #cuatro {
    color: var(--fondo-cuatro);
}
#tres,
#cuatro {
    float: right;
}
ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    height: var(--height-menu);
}
li {
    float: left;
    text-align: center;
    padding: 0;
}
li a {
    display: block;
    text-align: center;
    text-decoration: none;
}
#menu .icon {
    padding-top: calc((var(--height-menu) - var(--font-size-icon)) / 2);
    padding-bottom: calc((var(--height-menu) - var(--font-size-icon)) / 2);
    padding-left: calc((var(--height-menu) - var(--font-size-icon)) / 2);;
    padding-right: calc((var(--height-menu) - var(--font-size-icon)) / 2);;
    margin-left: calc((var(--height-menu) - var(--font-size-icon)) / 3);
    margin-right: calc((var(--height-menu) - var(--font-size-icon)) / 3);
    transition: all .5s ease-out !important;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}
a {
    text-decoration: none;
}