:root {
    --p3-margin: 10px;
    --p3-padding: 10px;
    --p3-form-width: calc(100vw - (2 * var(--p3-margin)));
    --p3-form-height: calc(100vh - var(--height-titulo) - 2 *  var(--p3-margin));
    --p3-form-header-height: 40px;
    --p3-form-header-fondo: saddlebrown;
}
#p3 > .formulario {
    background-color: var(--fondo-medio);
    width: var(--p3-form-width);
    height: calc(var(--p3-form-height) - 2 * var(--borde-fino-grosor)); /* 2px de borde */
    margin: var(--p3-margin) auto;
    padding: 0;
    border: var(--borde-fino);
    position: relative;
    border-radius: var(--borde-radio);
}
#p3 > .formulario > header {
	width: calc(var(--p3-form-width) - (2 * var(--p3-padding) + 2 * var(--p3-margin)));
    height: calc(var(--p3-form-header-height) - 2 * var(--p3-padding));
    background-color: var(--p3-form-header-fondo);
    color: var(--letra-clara);
	margin: var(--p3-margin);
    padding: var(--p3-padding);
    font-weight: bold;
    border-radius: var(--borde-radio);
}
#p3 > .formulario > section {
    width: calc(var(--p3-form-width) - (2 * var(--p3-padding)));
    height: calc(var(--p3-form-height) - 2 * var(--borde-fino-grosor) - var(--p3-form-header-height) - 2 * var(--p3-padding) - 1 * var(--p3-margin));
	margin: var(--p3-margin);
    padding: 0;
    overflow: visible;
    /* Para los hijos */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
#p3 > div, td, th {
    overflow: auto;
}
#p3 > th, td {
    border: var(--borde-fino);
    border-collapse: collapse;
}
@media (orientation: landscape) {
    #div_header_resumen {
        position: relative;
        table-layout: fixed;
    }
    #header_resumen {
        width: 100%;
        height: 100%;
    }
    #div_table_resumen {
        position: relative; max-height:calc(100vh - var(--height-titulo) - var(--height-cabecera));
        scroll-snap-type: y mandatory;
        height: calc(var(--p3-form-height) - 2 * var(--borde-fino-grosor) - var(--p3-form-header-height) - var(--height-cabecera) - 2 * var(--p3-padding) - 1 * var(--p3-margin));
        width: 100%;
        table-layout: fixed;
    }
    #table_resumen {
        width: 100%;
    }
    tbody:nth-of-type(odd) {
        background-color: var(--fondo-medio);
    }
    tbody:nth-of-type(even) {
        background-color: var(--fondo-claro);
    }
}
@media (orientation: portrait) {
    #div_header_resumen {
        display: none;
    }
    #div_table_resumen {
        position: relative; max-height:calc(100vh - var(--height-titulo));
        scroll-snap-type: y mandatory;
        left: 0;
        padding: 0;
        margin: 0;
        height: calc(var(--p3-form-height) - 2 * var(--borde-fino-grosor) - var(--p3-form-header-height) - 2 * var(--p3-padding) - 1 * var(--p3-margin));
        width: 100%;
    }
    #table_resumen {
        width: 100%;
    }
    #div_table_resumen tr {
        display: flex;
        flex-direction: column;
        scroll-snap-align: start;
        left: 0;
        padding-top: 5px;
    }
    #div_table_resumen td {
        align-self: flex-start;
        background-color: var(--fondo-claro);
        left: 0;
        padding: 5px;
        margin: 0;
        width: calc(100% - 2 * var(--borde-fino-grosor) - 2 * var(--padding-td-landscape));
    }
    /* Una de las dos primeras columnas tiene que tener información */
    #div_table_resumen td:first-child:not(:empty),
    #div_table_resumen td:first-child:empty+td:not(:empty) {
        background-color: var(--fondo-medio);
    }
    #div_table_resumen td:empty {
        visibility: hidden;
        padding: 0;
        margin: 0;
        border:none;
    }
    #div_header_resumen {
        visibility: hidden;
        padding: 0;
        margin: 0;
        table-layout: fixed;
    }
    .pregunta:not(:empty)::before {
        font-weight: bold;
        content: "PREGUNTA: ";
    }
    .encabezado:not(:empty)::before {
        font-weight: bold;
        content: "ENCABEZADO: ";
    }
    .respuestaUsuario:not(:empty)::before {
        font-weight: bold;
        content: "RESPUESTA USUARIO: ";
    }
    .respuestaCorrecta:not(:empty)::before {
        font-weight: bold;
        content: "RESPUESTA CORRECTA: ";
    }
}