@media (orientation: landscape) {
    #div_header {
        position: fixed;
        top: var(--height-titulo);
    }
    #header {
        text-shadow: var(--borde-letra-blanco);
        width: 100vw;
        height: var(--height-cabecera);
    }
    #div_table {
        position: fixed; max-height:calc(100vh - var(--height-titulo) - var(--height-cabecera)); top: calc(var(--height-titulo) + var(--height-cabecera));
        scroll-snap-type: y mandatory;
        width: 100vw;
    }
    #table {
        width: 100vw;
    }
    #table_resumen {
        width: 100%;
    }
}
@media (orientation: portrait) {
    #div_table {
        position: fixed; max-height:calc(100vh - var(--height-titulo)); top: var(--height-titulo);
        scroll-snap-type: y mandatory;
        left: 0;
        padding: 0;
        margin: 0;
    }
    #div_table tr {
        display: flex;
        flex-direction: column;
        scroll-snap-align: start;
        left: 0;
        padding-top: 5px;
        margin: 0;
    }
    #div_table td {
        align-self: flex-start;
        background-color: var(--fondo-claro);
        left: 0;
        padding: 5px;
        margin: 0;
        width: 100vw;
    }
    /* Una de las dos primeras columnas tiene que tener información */
    #div_table td:first-child:not(:empty),
    #div_table td:first-child:empty+td:not(:empty) {
        background-color: var(--fondo-medio);
    }
    #div_table td:empty {
        visibility: hidden;
        padding: 0;
        margin: 0;
        border:none;
    }
    #div_header {
        visibility: hidden;
        padding: 0;
        margin: 0;
    }
    .word:not(:empty)::before {
        font-weight: bold;
        content: "WORD: ";
    }
    .expression:not(:empty)::before {
        font-weight: bold;
        content: "EXPRESSION: ";
    }
    .meaning:not(:empty)::before {
        font-weight: bold;
        content: "MEANING: ";
    }
    .synonyms:not(:empty)::before {
        font-weight: bold;
        content: "SYNONYMS: ";
    }
    .antonyms:not(:empty)::before {
        font-weight: bold;
        content: "ANTONYMS: ";
    }
    .palabra:not(:empty)::before {
        font-weight: bold;
        content: "PALABRA: ";
    }
    .expresion:not(:empty)::before {
        font-weight: bold;
        content: "EXPRESIÓN: ";
    }
    .sinonimos:not(:empty)::before {
        font-weight: bold;
        content: "SINÓNIMOS: ";
    }
    .antonimos:not(:empty)::before {
        font-weight: bold;
        content: "ANTÓNIMOS: ";
    }
}